@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap&subset=chinese-traditional");

@keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


body {
  font-family: "Noto Sans TC";
}

